<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="MainAppShortcutComponent" />
      <ComponentRef Id="InstallFolderComponent" />
      <ComponentRef Id="AppCacheFolderComponent" />
    </ComponentGroup>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch 
        Root="HKCU" Key="Software\rettoph\VoidHuntersRevived" 
        Type="raw" 
        Id="APPLICATIONFOLDER_REGSEARCH" 
        Name="InstallDir" 
      />
    </Property>

    <Property Id="APPCACHEFOLDER">
      <RegistrySearch
        Root="HKCU" Key="Software\rettoph\VoidHuntersRevived"
        Type="raw"
        Id="CACHEFOLDER_REGSEARCH"
        Name="AppCacheDir"
      />
    </Property>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="publish">
      
      <!-- Manage install directories -->
      <Component Id="InstallFolderComponent" DiskId="1" Guid="{5CD77194-6C9B-4CDB-96E8-059AF0BDA029}">
        
        <!-- Create INSTALLFOLDER directories -->
        <CreateFolder>
          <Permission User="Everyone" GenericAll="yes" />
        </CreateFolder>

        <!-- Remove Folder on Uninstall -->
        <util:RemoveFolderEx Id="RemoveExINSTALLFOLDER" On="uninstall" Property="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveINSTALLFOLDER" On="uninstall"/>
        
        <!-- Registry Value -->
        <RegistryValue 
          Root="HKCU" 
          Key="Software\rettoph\VoidHuntersRevived" 
          Name="InstallDir" 
          Type="string" 
          Value="[INSTALLFOLDER]" 
          KeyPath="yes"/>
        
      </Component>
      
    </DirectoryRef>
    
    <DirectoryRef Id="APPCACHEFOLDER" FileSource="publish">

      <!-- Manage install directories -->
      <Component Id="AppCacheFolderComponent" DiskId="1" Guid="{926649E1-71C1-4FF8-A51D-8247BCCA9F47}">

        <!-- Create APPCACHEFOLDER directories -->
        <CreateFolder>
          <Permission User="Everyone" GenericAll="yes" />
        </CreateFolder>

        <!-- Remove Folder on Uninstall -->
        <util:RemoveFolderEx Id="RemoveExAPPCACHEFOLDER" On="uninstall" Property="APPCACHEFOLDER"/>
        <RemoveFolder Id="RemoveAPPCACHEFOLDER" On="uninstall"/>

        <!-- Registry Value -->
        <RegistryValue
          Root="HKCU"
          Key="Software\rettoph\VoidHuntersRevived"
          Name="AppCacheDir"
          Type="string"
          Value="[APPCACHEFOLDER]"
          KeyPath="yes"/>

      </Component>

    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuSubfolder">
      
      <!-- Manage Shortcuts -->
      <Component Id="MainAppShortcutComponent" Guid="{3547C0E1-1369-47FE-ADF6-43A0D2FA010C}">
        <!-- Define shortcut -->
        <Shortcut Id="ShortcutMainAppShortcut"
          Name="VoidHunters Revived"
          Target="[INSTALLFOLDER]\VoidHuntersRevived.Utilities.Launcher.exe"
          Directory="ProgramMenuSubfolder"
          WorkingDirectory="INSTALLFOLDER"
          Arguments="client-launcher --remote false --action launch"
          Icon="icon.ico"
        />

        <!-- Simple Registry key for shortcut (idk what that even means hehe) -->
        <RegistryValue Root="HKCU" Key="Software\VoidHuntersRevived" Name="installed" Type="integer" Value="1" KeyPath="yes"/>

        <!-- Remove Shortcut on uninstall -->
        <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
        
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
