<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Start Menu Directory -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubfolder" Name="VoidHuntersRevived" />
      </Directory>

      <!-- Program Files Folder -->
      <?if $(var.Platform)=x64?>
        <Directory Id="ProgramFiles64Folder">
          <Directory Id="CompanyFolder" Name="rettoph">
            <Directory Id="INSTALLFOLDER" Name="VoidHuntersRevived" />
          </Directory>
        </Directory>
      <?else?>
        <Directory Id="ProgramFilesFolder">
          <Directory Id="CompanyFolder" Name="rettoph">
            <Directory Id="INSTALLFOLDER" Name="VoidHuntersRevived" />
          </Directory>
        </Directory>
      <?endif?>

      <!-- Cache Directory -->
      <Directory Id="AppDataFolder">
        <Directory Id="APPCACHEFOLDER" Name="VoidHuntersRevived" />
      </Directory>
      
    </Directory>
  </Fragment>

</Wix>
