<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- Give product id per platform -->
  <?if $(var.Platform)=x64?>
  <?define ProductCode = "{F5AF4022-BCA5-4B9A-B875-3D70F99CD5D8}"?>
  <?else?>
  <?define ProductCode = "{FCE992EC-0A0B-4EB4-963F-7E663EC6F4E4}"?>
  <?endif?>

  <?define BuildVersion = 0.1.0?>

  <!-- Define main product -->
  <Product Id="$(var.ProductCode)"
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)"
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)"
           UpgradeCode="39a6a481-1f11-43b4-81b2-9e88ca3a335f">

    <!-- Provide Package details -->
    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="$(var.Platform)"
      Manufacturer="!(loc.Company)"
      Languages="!(loc.Language)"
      />

    <!-- Downgrade error message -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

    <!-- Include .cab file into .msi file -->
    <MediaTemplate
      EmbedCab="yes"
      />

    <!-- Define main App icon -->
    <Icon Id="icon.ico" SourceFile="$(var.VoidHuntersRevived.Utilities.Launcher.ProjectDir)\favicon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <!-- Createa a basic UI for the installer -->
    <!-- <UIRef Id="WixUI_Minimal"/> -->

    <!-- Define components, shortcutes, files, ect for installer -->
    <Feature Id="ProductFeature" Title="VoidHuntersRevived.Windows.Installer" Level="1">

      <ComponentGroupRef Id="PublishedComponents" />
      <ComponentGroupRef Id="ProductComponents" />

    </Feature>

    <!-- Configure UI -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      
      <TextStyle Id="Font_Title" FaceName="Tahoma" Size="12" Red="255" Green="255" Blue="255"  />
      <TextStyle Id="Font_SubTitle" FaceName="Tahoma" Size="8" Red="255" Green="255" Blue="255"  />
      
      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch !(loc.ProductName_$(var.Platform))" />
    
    <CustomAction 
      Id="LaunchApplication" 
      Impersonate="yes" 
      Directory="INSTALLFOLDER"
      ExeCommand="[INSTALLFOLDER]VoidHuntersRevived.Utilities.Launcher.exe client-launcher --remote false --action launch" 
      Return="asyncNoWait" 
      />
  
    <WixVariable Id="WixUIBannerBmp"  Value="Resources\WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp"  Value="Resources\WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources\WixUILicenseRtf.rtf" />
  </Product>

</Wix>
